@{
    ViewData["Title"] = "Home Page";
}
@model Form
<div class="text-center">
    <h1 class="mt-5">Welcome!</h1>
    <p>Please give your name:</p>
    <form class="d-flex flex-column justify-content-center align-items-center"asp-action="process" asp-controller="Home" method="post">
        <div class="form-group">
            <span asp-validation-for="Name" class="text-danger"></span><br>
            <label asp-for="Name"></label>
            <input asp-for="Name" class="form-control">
        </div>
        <input type="submit" class="btn btn-outline-primary mt-3">
    </form>
</div>
