@{
    ViewData["Title"] = "Users";
}
@model List<User>
<div class="text-center">
    <h1 class="display-4">Here is a List of Users</h1>
    @foreach(User item in Model)
    {
        <p>@item.Name</p>
    }
</div>