@{
    ViewData["Title"] = "Result Page";
}
@model Survey
<main class="container d-flex flex-column justify-content-center align-items-center mt-5 p-3 border border-warning">
        <h1 class="text-light">Submitted Info</h1>
        <div class="text-light">
            <p>Name: @Model.Name</p>
            <p>Dojo Location: @Model.Location</p>
            <p>Favorite Language: @Model.Language</p>
            <p>Comment (optional): @Model.Comment</p>
        <div>
            <a href="/" class="btn btn-outline-warning">Go back</a>
        </div>
    </main>