<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="~/css/style.css">
</head>
<body>
    <nav class="nav-bar">
        <a href="/">Home</a>
        <a href="/projects">Projects</a>
        <a href="/contact">Contact</a>
    </nav>
    <h1 class="title">About Me</h1>
    <main class="main-content">
        <div class="image-container">
            <img src="~/assets/funnycat.jpg" alt="cat photo" height=150>
            <h2>Nicholas Gibson</h2>
            <p>Coding who?!</p>
        </div>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus provident reprehenderit neque, obcaecati nisi sequi corrupti hic eius iure enim eligendi sint similique natus, explicabo accusantium illo vero est a magnam maiores excepturi tenetur commodi! Ipsum aperiam error soluta magnam nesciunt quasi. Quis, illo! Quos et veniam deleniti totam quisquam.</p>
    </main>
</body>
</html>