<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="~/css/style.css">
</head>
<body>
    <nav class="nav-bar">
        <a href="/">Home</a>
        <a href="/projects">Projects</a>
        <a href="/contact">Contact</a>
    </nav>
    <h1 class="title">My Projects</h1>
    <main class="project-main-content">
        <div class="card">
            <img src="~/assets/funnycat2.jpg" alt="cat place holder" height="150">
            <div class="card-content">
                <p class="project-title">Project 1</p>
                <p class="project-content">Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum totam debitis repudiandae iusto dicta beatae?</p>
            </div>
        </div>
        <div class="card">
            <img src="~/assets/funnycat2.jpg" alt="cat place holder" height="150">
            <div class="card-content">
                <p class="project-title">Project 2</p>
                <p class="project-content">Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum totam debitis repudiandae iusto dicta beatae?</p>
            </div>
        </div>
        <div class="card">
            <img src="~/assets/funnycat2.jpg" alt="cat place holder" height="150">
            <div class="card-content">
                <p class="project-title">Project 3</p>
                <p class="project-content">Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum totam debitis repudiandae iusto dicta beatae?</p>
            </div>
        </div>
    </main>
</body>
</html>